<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supercwn.player">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_super_video"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 视频播放的详情页面-->
        <activity
            android:name=".SuperVideoDetailsActivity"
            android:theme="@style/AppThemeNoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"/>
        <!--listView中播放视频的演示-->
        <activity android:name=".SuperVideoRecycleViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"/>
    </application>

</manifest>